/* DELETE THE MARGIN */
* {
    margin: 0;
    scroll-behavior: smooth;
    font-family: calibri;

}

a {
    text-decoration: none;
    color: black;
}

/* delete list style, remove padding and margin */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

nav li {
    float: left;
}
nav #li-logout{
    float: right;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #ddd;
    color: black;
}

#logout-button {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    text-align: center;


}
/* nav li input[type=submit] {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li input[type=submit]:hover:not(.active) {
    background-color: #ddd;
    color: black;
} */

nav .nav-icon {
    display: none;
}

.drop-down-nav {
    display: none;
}


/* Style the errors alert-box */
.alert-box {
    font-size: 1.5em;

    position: absolute;
    display: block;
    /* top: 5em;
    left: 30em; */
	padding: 15px;
    /* margin: auto; */
    border: 1px solid transparent;
    border-radius: 4px;  
    
}
.alert-box-failure {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    top: 5em;
}

.alert-box-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    font-size: 5em;
    top: 1em;
    left: 8em;
    /* width: 100%;
    height: 100%;
    z-index: 99; */
    /* display: none; */
}
/* full screen header with background image */
.header-container {
    height: 100vh;
    
    background: url(../img/pic1.jpeg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;



}

.header {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/* Style all font awesome icons */
.fa, .fab {
    padding: 0 0.5em;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
} 

/* Add a hover effect if you want */
.fa:hover, .fab:hover {
    opacity: 0.7;
} 

/* Display wrapper as grid */
.wrapper {
    height: minmax(50vh, auto);

    background-color: rgb(178, 211, 211);
    padding: 4em;
    padding-top: 4em;
}

.projects-text {
    text-align: center;
}

.projects-wrapper {

    display: grid;
    padding-top: 1em;
    grid-template-columns: 1fr 2fr 1fr;
    /* add grid-gap to add a gap between the columns and rows. */
    grid-gap: 1em;
    /* 100px by default, if content is longer it will stretch */
    grid-auto-rows: minmax(100px, auto);
}

/* Select all the divs inside the wrapper div and make them light gray */
/* Add nice shadow to the divs */
.projects-wrapper>div {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    background: #eee;
    padding: 1em;
}

/* Select all the odd divs inside the wrapper div and make them dark gray */
.projects-wrapper>:nth-child(odd) {
    background: #ddd;
}

.wrapper2 {
    height: minmax(50vh, auto);
    background: #E89C0D;
    padding: 10% 20%;
}

.wrapper2 h2 {
    text-align: center;
}

.skills-container {
    background-color: #ddd;
    border-radius: 4px;
    /* Rounded borders */
    border: #333 1px solid;
    box-shadow: 0 4px 8px 0 rgba(218, 190, 190, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.skills-div {
    display: inline-block;
    text-align: right;
    padding: 5px;
    color: white;
    border-right: #333 1px solid;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border-radius: 4px;
    /* Rounded borders */
    
}

/* Set the skill bar level */
.skills-html {
    width: 35%;
    background-color: rgb(18, 187, 26);
}

.skills-css {
    width: 20%;
    background-color: rgb(18, 187, 26);
}

.skills-js {
    width: 15%;
    background-color: rgb(18, 187, 26);
}

.skills-php {
    width: 25%;
    background-color: rgb(18, 187, 26);
}

.skills-java {
    width: 50%;
    background-color: rgb(18, 187, 26);
}

.skills-python {
    width: 50%;
    background-color: rgb(18, 187, 26);
}

.skills-sql {
    width: 45%;
    background-color: rgb(18, 187, 26);
}

.skills-r {
    width: 10%;
    background-color: rgb(18, 187, 26);
}

/* Contact form */
.wrapper3 {
    height: minmax(50vh, auto);
    background: rgb(178, 211, 211);
    padding: 5em 20em;
}

.contact-form-wrapper {
    box-shadow: 0 4px 8px 0 rgba(218, 190, 190, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #f2f2f2;
    padding: 1em;
}

input[type=text],
textarea {
    width: 100%;
    /* Full width */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    padding: 10px;
    /* Some padding */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    border-radius: 4px;
    /* Rounded borders */
    border: 1px solid #ccc;
    /* Gray border */
}

.contact-form-text {
    text-align: center;
    padding-bottom: 2em;
}

/* Style the submit button with a specific background color etc */
#contact-submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
#contact-submit-button :hover {
    background-color: #45a049;
    cursor: pointer;
}
.scroll-back-to-top {
    text-align: center;
}

.scroll-back-to-top-button {
    position: relative;
    background-color: red;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    bottom: 0px;
    color: white;
    box-shadow: 0 4px 8px -2px rgba(218, 190, 190, 0.2), 0 6px 20px -2px rgba(0, 0, 0, 0.19);
}

.scroll-back-to-top-button:hover {
    cursor: pointer;
    background-color: rgb(248, 51, 51);
}

.card {
    padding: 5em 20em;

}

/* Footer */
.footer {
    height: minmax(10vh, auto);
    width: 100%;
    background: #ddd;
    text-align: center;
    padding: 1em 0;
    color: #333;
}
.footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer-wrapper >div {
    text-align: right;
}
.footer-wrapper >:nth-child(even) {
    text-align: left;
}





























@media screen and (max-width: 1000px) {
    .wrapper3 {
        padding: 1em;
    }
}

/* change navbar on smaller screen */
@media screen and (max-width: 500px) {
    nav .li-hideable {
        display: none;
    }

    nav .nav-icon {
        float: right !important;
        display: block !important;
    }
    .wrapper3 {
        padding: 0;
    }

    .projects-wrapper {
        grid-template-columns: 1fr 1fr;

    }

}

@media screen and (max-width: 400px) {
    .projects-wrapper {
        grid-template-columns: 1fr;
    }
}



